- id: deploy-myapp
  execute-command: /home/USERNAME/scripts/deploy.sh
  command-working-directory: /home/USERNAME
  response-message: "Deployment triggered!"
  trigger-rule:
    and:
      - match:
          type: payload-hash-sha256
          secret: super-secret-dream-return
          parameter:
            source: header
            name: X-Hub-Signature-256
      - match:
          type: value
          value: "refs/heads/main"
          parameter:
            source: payload
            name: ref
